.search-box {
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
    -fx-prompt-text-fill: black;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.search-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.search-button:hover {
    -fx-background-color: #828282;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.text-area {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #2596be;
    -fx-border-width: 0px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-view {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: transparent;
    -fx-border-width: 2;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #ADD8E6;
    -fx-background-radius: 10;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
}